
<div *ngIf="chartsReady">
  <div class="col-md-12">
    <hr />
    <h3>{{ model.stockName }}</h3>
    <p>
      <b>Newest Available Date:</b> {{ model.newestAvailableDate }}
    </p>
    <p>
      <b>Oldest Available Date:</b> {{ model.oldestAvailableDate }}
    </p>
    
    <hr />
  
  </div>
    <!-- Can't use *ngIf, because it destroys and recreates canvas, which is expensive -->
  <div class="col-md-12 table-responsive">
    <ul class="nav nav-tabs">
      <li [class.active]="activeChart=='values'"><a (click)="setChart('values')">Unadjusted Values</a></li>
      <li [class.active]="activeChart=='valuesAdj'"><a (click)="setChart('valuesAdj')">Adjusted Values</a></li>
    </ul>
    <div class ="tab-content" [style.display]="activeChart=='values'?'none':'inherit'"
      >
      <h3 class="text-center">Unadjusted values</h3>
      <canvas #label="base-chart"
      baseChart 
      [chartType]="'line'"
      [datasets]="model.chartData"
      [labels]="model.chartLabels"
      [colors]="model.chartColors"
      [options]="model.chartOptions"
      [legend]="true"
      >
    </canvas>
    </div>
    <div class ="tab-content" [style.display]="activeChart=='valuesAdj'?'none':'inherit'"
      >
      <h3 class="text-center">Adjusted values</h3>
      <canvas #label2="base-chart"
      baseChart 
      [chartType]="'line'"
      [datasets]="model.chartDataAdj"
      [labels]="model.chartLabels"
      [colors]="model.chartColors"
      [options]="model.chartOptions"
      [legend]="true"    
      >
      </canvas>
    </div>
    <hr />
    <h2 class="text-center">Table Results</h2>
    <table class="table table-hover table-bordered table-nowrap text-center"
    >
      <thead>
        <tr>
          <th class="text-center">Index</th>
          <th  class="text-center" *ngFor="let column of model.columnNames">
          {{ column }}</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataElement of model.tableData; let i = index">
        <td><b>{{ i + 1 }}</b></td>
        <td *ngFor="let dataCol of dataElement">
        {{ dataCol | formatData }} </td>
      </tr>
      </tbody>
      <thead>
        <tr>
          <th class="text-center">Total</th>
          <th  [attr.colspan]=" model.columnNames.length" class="text-center">
          {{ model.tableData.length }}</th> 
        </tr>
      </thead>
    </table>
  
  </div>
</div>
