/*h1 {
  text-align: center;
  font-size: 36px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.col-md-12{
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  position: relative;
  height: auto;
}
.col-md-2 {
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.shform-control{
  display: block;
  height: 34px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
*/

.wrap1{
  overflow:hidden;
}


button {
  width: 100%;
}

.buttons{
  width: 100%;
  padding-right: 15px;
    padding-left: 15px;
    height: 100%;
}

.form-group{
  padding-left: 15px;
  padding-right: 15px;
}

@media  (min-width: 992px) {
  .form-group {
    width: 16.66666667%;
    float: left;
    
    height: auto;
    }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* vert */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* rouge */
}

.left-offset{
  margin-left: 8.33333333%;
}
