<div class="loading" *ngIf="loading">Loading&#8230;</div>
<div class="row">
  <h1 class="text-center">Quandl Time Series API</h1>
  <div class="col-md-12">
  <form (ngSubmit)="onSubmit()" [formGroup]="qtsForm">
    <div class="form-group col-md-2 col-md-offset-1">
      <label for="dbcode">Database Code: </label>
      <input id="dbcode" type="text" name="databaseCode"  class="form-control" formControlName="databaseCode" required>
      <label for="dscode">Dataset Code: </label>
      <input id="dscode" type="text" name="datasetCode"  class="form-control" formControlName="datasetCode" required>
    </div>
    <div class="form-group col-md-2">
      <label for="sdate" class="block-label">Start Date: </label>
      <input id="sdate" type="date" name="startDate"  class="form-control" formControlName="start" required>
      <label for="edate" class="block-label">End Date: </label>
      <input id="edate" type="date" name="endDate"  class="form-control" formControlName="end" required>
    </div>
    <div class="form-group col-md-2">
      <label for="lim" class="block-label">Limit: </label>
      <input id="lim" type="number" name="limit"  min="0" class="form-control" formControlName="limit"
      required>
      <label for="ord" class="block-label">Order:</label>
      <select id="ord" class="form-control" required formControlName="order" name="order"  >
      <option *ngFor="let ord of os" [value]="ord">{{ord}}</option>
      
      </select>
    </div>
    <div class="form-group col-md-2">
      
      <label for="col" class="block-label">Collapse:</label>
      <select id="col" class="form-control" required  formControlName="collapse" name="collapse"  >
      <option *ngFor="let col of cs" [value]="col">{{col}}</option>
      </select>
      <label for="tr" class="block-label"> Transformation:</label>
      <select id="tr" class="form-control" required formControlName="transformation" name="transform"  >
      <option *ngFor="let tr of ts" [value]="tr">{{tr}}</option>
      </select>
    </div>
    <div class="form-group col-md-2">    
      
      <div class="col-md-12">
        <label for="submit" class="block-label">&nbsp;</label>
        <button id="submit" type="submit" class="btn btn-success btn-block"
        [disabled]="!qtsForm.valid">Search</button>
      </div>
      <div class="col-md-12">
        <label for="test" class="block-label">&nbsp;</label>
        <button id="test" type="button" class="btn btn-danger btn-block" (click)="charts.chartReady = false">Clear</button>
      </div>
      
      
      </div>
      
      <div class="col-md-12">
        <button id="test" type="button" class="btn btn-warning btn-block" (click)="clearForm()">Clear form</button>
      </div>
      
      <div class="col-md-12">
        <button id="test" type="button" class="btn btn-warning btn-block" (click)="resetForm()">Default form</button>
      </div>
      
      
      
    </form>
  </div>
</div>
<app-qts-charts #charts></app-qts-charts>
